/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

// Information cards
//
// Information cards are blocks of content that group related pieces of information.
// Cards have meaning by themselves, independently to where they are being displayed.
// For example, an address is composed of related pieces of information that grouped together have meaning regardless of where it is being displayed.
//
// Markup:
// <div class="info-card-button-container">
//   <button class="button-info-cards-new"> Add new Address</button>
// </div>
// <section class="info-card">
//   <h4>John Smith</h4>
//   <p class="info-card-content">2955 Campus Drive</p>
//   <p class="info-card-content">Suite 100</p>
//   <p class="info-card-content">San Mateo, CA 94403</p>
//   <p class="info-card-content">United States</p>
//   <p class="info-card-content">305 424 1363</p>
//   <button class="button-edit">Edit</button>
// </section>
//
// Styleguide 3.4

.product-line-stock-msg-not-available {
	display: none;
}
.overview-home-mysettings-shipping{
	a{
		visibility:hidden;
	}
}
.myaccount-layout-row,.balance-content,.print-statement,.profile-information,.creditcard-edit,.case-new,.address-list,.profile-emailpreferences,.overview-home-mysettings,.list-header-view-accordion-body{
	margin-left:0!important;
	margin-right:0!important;
}


.modal-backdrop {
	z-index: 0 !important;
}
.balance-actions-proceed,.invoice-details-button-make-a-payment-container,.address-details-actions,.address-list-button-container{
	display:none!important;
}
.quote-details-disclaimer-message,.quote-details-msg {
	color: $sc-color-copy!important;
  }
  .login-register-login-forgot{
	  font-size:$sc-font-size-s;
	  color:$sc-color-copy;
	  &:hover{
		color:$commco-red;
	  }
  }
  .login-register-login-icon img {
    max-width: 60px;
}
.balance-logo {
	height: 50px;
	float: right;
	margin: 0 0 $sc-margin-lv3 $sc-margin-lv3;

	@media (max-width: $screen-xs-max) {
		height: 32px;
		margin: 0 0 $sc-margin-lv2 $sc-margin-lv2;
	}
}

.home-logo {
	height: 50px;
	display:inline-block;

	@media (max-width: $screen-xs-max) {
		height: 32px;
	}
}

.balance-title {
	overflow: auto;
}

.info-card {
	background: $commco-input;
	border: 1px solid $commco-light-border;
	padding: $sc-padding-lv3;
}

.info-card-content {
	margin: $sc-margin-lv1 0;
}

.button-edit {
	@extend .button-small;
	@extend .button-tertiary;
}

.button-info-cards-new {
	@extend .button-small;
	@extend .button-secondary;
}

.info-card-button-container {
	@extend .row;
	padding: $sc-padding-lv3;
}

.menu-tree-node-submenu-wrapper {
	padding: 0 !important;
}

.case-detail-conversation-background {
	border: 1px solid $commco-border;
}

.myaccount-layout-title {
	display: none !important;
}