.modal-header{
    background-color:$commco-red;
    

    -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.modal-title{
    font-size:20px;
    width:auto;
    color:$commco-white!important;
    display: inline-block;
}