/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.myaccount-layout {
	@extend %sc-layout;
	padding-top: $sc-margin-lv2;
}

.myaccount-layout-container {
	// Footer module will set a bottom padding with the size of the footer	(on Footer.View.js)
	@extend .container;
}

.myaccount-layout-header {
	@include box-shadow(3px 0px 6px $sc-color-secondary);
	margin-bottom: $sc-margin-lv5;
}

.myaccount-layout-row {
	@extend .row;
}

.myaccount-layout-main {

	@media (min-width: $screen-sm-min) {
		margin-bottom: 70px;
	}
}

.myaccount-layout-footer {
	@extend %sc-footer !optional;
}

.myaccount-layout-title {
	margin-bottom: $sc-margin-lv4;
	display: none;

	@media (min-width: $screen-sm-min) {
		display: block;
	}
}

.myaccount-layout-no-javascript-msg {
	@extend .message-warning;
	width: 100%;
}

.myaccount-layout-side-nav {


	display: block;
}

.force-hide-side-nav {

	.myaccount-layout-side-nav {
		display: none;
	}

	.myaccount-layout-title {
		display: none;
	}

	.myaccount-layout-main {
		@extend .col-sm-12;
	}
}

.menu-drop-button {
	@extend .button-medium;
	@extend .button-secondary;
	width:auto;
	display: none;
	margin-bottom: $sc-margin-lv2;
	outline: none;
}

@media (max-width: $screen-xs-max) {
	.open-menu {
		display: block !important;
	}

	.menu-tree {
		z-index:1000;
		display: none;
		position: absolute;
		background-color: #F8F8F8;
		border-top: 1px solid $commco-light-border;
		border-bottom: 1px solid $commco-light-border;
		box-shadow: 0 $sc-flyout-arrow-shadow-height $sc-flyout-arrow-shadow-height * 2 transparentize($sc-neutral-shade-600, 1-0.175);
		margin-left: -$sc-margin-lv3;
		margin-right: -$sc-margin-lv3;
		margin-top: -$sc-margin-lv1;

		&>div.menu-tree-node>a {
			display: block;
			padding: $sc-padding-lv1 $sc-padding-lv2;
			background-color:$commco-black;
			color:$commco-input!important;

		}
	}

	.menu-drop-button {

		display: block;
	}
}
