/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.login-register-header{
	@extend .row;
	margin-bottom: $sc-margin-lv4;
}

.login-title{
	@extend .col-xs-12;
	text-align:center;
}

.login-register-body{
	@extend .row;
}

.login-register-wrapper-column-login{
	width:100%;
	text-align:center;
}

.login-register-wrapper-login,
.login-register-wrapper-register{
	@extend .box-column;
	display:inline-block;
	text-align:left;
}

.login-register-wrapper-guest{}
.login-register-title-register{}

.login-register-login-form-input{width:100%!important;}
.login-register-login-icon{text-align:center;}