/*
	© 2017 NetSuite Inc.
	User may not copy, modify, distribute, or re-bundle or otherwise make available this code;
	provided, however, if you are an authorized user with a NetSuite account or log-in, you
	may use this code subject to the terms that govern your access and use.
*/

.menu-tree-node-item-submenu {
	display: none;
}

.menu-tree-node {
	display: inline-block;
	width: auto;

	&.active>a {
		color: $commco-red !important;
	}
}

.menu-tree-node-item-anchor {

	padding: $sc-padding-lv3 $sc-padding-lv3 $sc-padding-lv3 0;
	color: $sc-color-copy;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: normal;
}

.menu-tree-node-item-anchor:hover {
	color: $commco-red;
}

.menu-tree-node-item-anchor.active {
	color: $commco-red;
}

.menu-tree-node-item-icon {
	@extend .caret;
	margin-top: -2px;
}

.open {
	.menu-tree-node-submenu {
		display: block;
	}
}



.menu-tree-node-submenu {
	visibility: inherit !important;
}

.menu-tree-node-submenu.collapsing {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
	-webkit-transition-duration: 0s !important;
	-moz-transition-duration: 0s !important;
	transition-duration: 0s !important;
	height: auto !important;
	position: inherit !important;
	overflow: inherit !important;

}

.menu-tree-node-submenu-wrapper {

	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
	-webkit-transition-duration: 0s !important;
	-moz-transition-duration: 0s !important;
	transition-duration: 0s !important;
	height: auto !important;

	position: absolute;
	padding: 4px 0 !important;
	z-index: 1;
	background-color: $commco-black !important;
	-webkit-box-shadow: 0 8px 6px -3px $commco-shadow-transparent !important;
	-moz-box-shadow: 0 8px 6px -3px $commco-shadow-transparent !important;
	box-shadow: 0 8px 6px -3px $commco-shadow-transparent !important;

	width: 180px;


	.menu-tree-node {
		display: block;
		width: 100%;
	}

	.menu-tree-node-item-anchor {
		padding: 3px $sc-padding-lv4 !important;
		font-size: $sc-font-size-m !important;
		text-transform: none;
		color: $commco-white !important;
		display: block;
	}

	.menu-tree-node-item-anchor:hover {
		background-color: $commco-white;
		color: $commco-black !important;
		padding: 3px $sc-padding-lv4 !important;
	}
}

.menu-tree>.menu-tree-node {
	@media (max-width:$screen-xs-max) {
		width: 100% !important;

		i.menu-tree-node-item-icon {
			display: none;
		}

		div.menu-tree-node-submenu {
			display: block !important;


		}

		div.menu-tree-node-submenu-wrapper {
			position: static !important;
			width: 100% !important;
			background-color: transparent!important;
			
			-webkit-box-shadow: none !important;
			-moz-box-shadow: none !important;
			box-shadow: none !important;
a{
	color:$sc-color-copy!important;
}
a:hover{
	color:$commco-red!important;
}

		}
	}

}