<div class="footer-container container text-center text-md-center">
  <div class="row">

    <div class="col-md-2 ">
      <img class="footer-logo" src="../assets/img/png/logo_footer.png" alt="commco logo">
    </div>

    <div class="col-md-4 ">
      <div class="footer-link-table">
        <div class="footer-link-cell">
          <span class="footer-list-title">CONTACT US</span>
        </div>
        <div class="footer-link-cell">
          <ul class="footer-list">
            <li class="footer-item">
              <a class="footer-link" href="tel:+44 345 678 903">+44 345 678 903</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="mailto:adobexd@mail.com">adobexd@mail.com</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#">Find a Store</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="footer-link-table">
        <div class="footer-link-cell">
          <span class="footer-list-title">SERVICES</span>
        </div>
        <div class="footer-link-cell">
          <ul class="footer-list">

            <li class="footer-item">
              <a class="footer-link" href="#">Contact Us</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#">Ordering &amp; Payment</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#">Shipping</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#">Returns</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#">FAQ</a>
            </li>
            <li class="footer-item">
              <a class="footer-link" href="#">Sizing Guide</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-2 ">
      <a class="footer-icons" href="#">
        <i class="fa fa-user"></i>
      </a>

      <a class="footer-icons twitter-share-button" href="https://twitter.com/intent/tweet?text=Commco" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>

      <a class="footer-icons" href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.commco.com&title=Commco&summary=Communicate%20Collaborate%20Connect&source=Commco" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>

  </div>
</div>


<div class="footer-strapline">
  <div class="container text-center text-md-center">
    <div class="row">
      <div class="col-sm-12">
        <span class="fs-text">COMMUNICATE</span>
        <span class="fs-dot">&#8226;</span>
        <span class="fs-text">COLLABORATE</span>
        <span class="fs-dot">&#8226;</span>
        <span class="fs-text">CONNECT</span>
      </div>
    </div>
  </div>
</div>