<div class="{{column}} col-margin-bottom">

    <a class="leader-link" href="{{href}}">

        <div class="leader-link-image" style="background-image: url('{{image}}')">
        </div>

        <div class="leader-link-text-wrap">
            <h3 class="h3 leader-link-title">{{title}}</h3>
            <p class="leader-link-text"> {{text}}</p>
            <div class="leader-link-align">
                <p class="leader-link-text">GO TO PAGE <i class="fas fa-arrow-right leader-link-arrow"></i></p>
            </div>
            <p class="leader-link-show-small">More...</p>
        </div>

    </a>
</div>